body {
     
    margin: 0;
     
    overflow: hidden; 
}

#board {
     
    background-image: url("./xyz.jpg");
    background-size: cover;
    background-position: center;
    background-color: bisque;
}